services:
  frontend:
    container_name: frontend
    build: frontend
    tty: true
    stdin_open: true
    restart: always
    ports:
      - "8000:80"
    networks:
      - yarl-net
  envoy:
    image: envoyproxy/envoy:v1.32.2
    ports:
      - "8080:8080"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    networks:
      - yarl-net
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  yarl-net:
    driver: bridge
