services:
  backend:
    container_name: backend1
    build: backend
    tty: true
    stdin_open: true
    restart: always
    ports:
      - "9000:9000"
    networks:
      - yarl-net
  frontend:
    container_name: frontend
    build: frontend
    tty: true
    stdin_open: true
    restart: always
    ports:
      - "4173:80"
    networks:
      - yarl-net
  envoy:
    image: envoyproxy/envoy:v1.32.2
    ports:
      - "8081:8081"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    networks:
      - yarl-net

networks:
  yarl-net:
    driver: bridge
